<html lang="en">
<head>
   <%include ../partials/head %>
</head>
    
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
      
            <p> Seite:
            <%=link[0].long%></p>
            
            <p>Mitarbeiter:
            <%=link[0].employees%> </p>
            
            <p>Gründungsjahr:  
            <%=link[0].founded%> </p>
            
            <p>Eigentümer:  
            <%=link[0].owner%> </p>
            
            <p>Glaubwürdigkeit:  
            <%=link[0].integrity%> </p>
            
        </div>  
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
    
</html>
